<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" style="background:url(../../../assests/images/login1.jpg) no-repeat 0px 0px">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">&nbsp;Account Login !!!</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-3" for="email">Uername:</label>
              <div class="col-sm-8">
                <input type="name" class="form-control" id="name" placeholder="Enter Name" ng-model="Modal.user.username" ng-change ="Modal.checkuser()">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3" for="pwd">Password:</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="Modal.user.password">
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <div ng-show="Modal.error" class="alert alert-danger"style="float:left">{{Modal.errorMessage}}</div>
        <button type="button" ng-click="Modal.register()" class="btn btn-default" data-dismiss="modal">Register</button>
        <button type="button" ng-click="Modal.login()" class="btn btn-primary" class="btn btn-primary"  ng-disabled="!Modal.user.name && !Modal.user.password">Login</button>
      </div>
    </div>
  </div>
</div>
