<div class="tygh-content clearfix">
    <div class="container ">

        <div class="row">
            <div class="span16 ">
                <ul class="categories_parent ">
                    <li class="header_active_parent">
                        <a href="">Tin tức</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="span16 view-news-page">
                <div class="row">
                    <div class="span16 view-news-page-content">
                        <div class="mainbox-container clearfix">

                            <h1 class="mainbox-title">
                                <span>{{data.title}}</span>
                            </h1>

                            <div class="mainbox-body">
                                <div class="main_news_content clearfix">
                                    <div id="news_content">
                                        <div class="title_hoi_dap"><b>Ngày đăng: </b><i>{{data.created_at}}</i></div>

                                        <h2 style="text-align: center;"><span style="font-size:16px;"><img alt="" src="{{data.img}}" style="width: 800px; height: 600px;" /></span></h2>

                                        <p>{{data.content}}</p>
                                    <div class="tite_top clearfix">
                                        <!-- AddThis Button BEGIN -->
                                        <div class="addthis_toolbox addthis_default_style  float-left">
                                            <div class="fb-like float-left" data-href="" title="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                                            <a class="addthis_button_tweet"></a>
                                            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                                            <!-- Inline script moved to the bottom of the page -->
                                        </div>
                                        <!--AddThis Button END -->
                                    </div>
                                </div>
                            </div>
                            <div class=" mtop10">
                                <div class="view-product-face news-coment">
                                    <h2><span>Bình luận</span></h2></div>
                                <div class="discussion-block left" id="content_discussion">
                                    <table id="cmt-table" class="table table-bordered table-striped" style="border: none">
                                        <tr ng-repeat="cmt in data.comment">
                                            <td style="width: 20%;">{{cmt.name}}</td>
                                            <td style="width: 80%;">{{cmt.cmt_content}}</td>
                                        </tr>
                                    </table>

                                    <!--<div class="ty-discussion-post__buttons buttons-container">

<a   class="cm-dialog-opener cm-dialog-auto-size ty-btn__primary "  rel="nofollow" data-ca-target-id="new_post_dialog_">Bài viết mới</a>

            </div>-->

                                    <div class="ty-discussion-post-popup" id="new_post_dialog_6655">
                                        <form action="" method="post" class="cm-ajax cm-ajax-full-render posts-form" name="add_post_form" id="add_post_form_6655">
                                            <div id="new_post_6655">
                                                <div class="ty-control-group">
                                                    <label for="dsc_message_6655" class="hidden cm-required">Tin nhắn của bạn</label>
                                                    <textarea id="dsc_message_6655" name="content" class="ty-input-textarea ty-input-text-post show_post " rows="3" placeholder="Mời bạn thảo luận về tin này" style="width:90%;padding: 10px;"></textarea>
                                                    <button type="button" class="btn btn-primary" ng-click="addComment()" style="margin-top: -27px;">Gửi</button>
                                                </div>                   
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="posts_list">

                                        <!--posts_list-->
                                    </div>

                                    <!--content_discussion-->
                                </div>
                            </div>
                            <!-- Inline script moved to the bottom of the page -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>