<div class="tygh-content clearfix">
    <div class="container ">

        <div class="row">
            <div class="span16 ">
                <ul class="categories_parent ">
                    <li class="header_active_parent">
                        <a href="">Tin tức</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="span16 view-news-page">
                <div class="row">
                    <div class="span16 view-news-page-content">
                        <div class="mainbox-container clearfix">

                            <h1 class="mainbox-title">
                                <span>{{data.title}}</span>
                            </h1>

                            <div class="mainbox-body">
                                <div class="main_news_content clearfix">
                                    <div id="news_content">
                                        <div class="title_hoi_dap"><b>Ngày đăng: </b><i>{{data.created_at}}</i></div>

                                        <h2 style="text-align: center;"><span style="font-size:16px;"><img alt="" src="{{data.img}}" style="width: 800px; height: 600px;" /></span></h2>

                                        <p>{{data.content}}</p>
                                    <div class="tite_top clearfix">
                                        <!-- AddThis Button BEGIN -->
                                        <div class="addthis_toolbox addthis_default_style  float-left">
                                            <div class="fb-like float-left" data-href="" title="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                                            <a class="addthis_button_tweet"></a>
                                            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                                            <!-- Inline script moved to the bottom of the page -->
                                        </div>
                                        <!--AddThis Button END -->
                                    </div>
                                </div>
                            </div>
                            <div class=" mtop10">
                                <div class="view-product-face news-coment">
                                    <h2><span>Bình luận</span></h2></div>
                                <div class="discussion-block left" id="content_discussion">

                                    <!--<div class="ty-discussion-post__buttons buttons-container">

<a   class="cm-dialog-opener cm-dialog-auto-size ty-btn__primary "  rel="nofollow" data-ca-target-id="new_post_dialog_">Bài viết mới</a>

            </div>-->

                                    <div class="ty-discussion-post-popup" id="new_post_dialog_6655">
                                        <form action="https://www.duchuymobile.com" method="post" class="cm-ajax cm-ajax-full-render posts-form" name="add_post_form" id="add_post_form_6655">
                                            <input type="hidden" name="result_ids" value="average_rating*,content_discussion">
                                            <input type="hidden" name="post_data[thread_id]" value="10252" />
                                            <input type="hidden" name="redirect_url" value="index.php?dispatch=news.view&amp;news_id=6655" />
                                            <input type="hidden" name="selected_section" value="" />
                                            <div id="new_post_6655">
                                                <div class="ty-control-group">
                                                    <label for="dsc_message_6655" class="hidden cm-required">Tin nhắn của bạn</label>
                                                    <textarea id="dsc_message_6655" name="post_data[message]" class="ty-input-textarea ty-input-text-post show_post " rows="3" placeholder="Mời bạn thảo luận về tin này" style="width:99%;padding: 10px;"></textarea>
                                                </div>
                                                <div class="hidden_post">
                                                    <div class="clearfix">
                                                        <div class="post_left">
                                                            <div class="ty-control-group">
                                                                <label for="dsc_name_6655" class="hidden cm-required">Tên bạn</label>
                                                                <input type="text" id="dsc_name_6655" name="post_data[name]" value="" size="20" class="ty-input-text-medium cm-hint" title="Họ tên (bắt buộc)" />
                                                            </div>
                                                            <div class="ty-control-group">
                                                                <label for="dsc_phone" class="hidden">Điện thoại</label>
                                                                <input id="dsc_phone" type="text" name="post_data[email]" value="" size="20" title="Số điện thoại" class="cm-hint ty-input-text-medium cm-phone">
                                                            </div>
                                                            <div class="buttons-container-submit">

                                                                <input class="ty-post-coment" type="submit" name="dispatch[discussion.add]" value="Gửi" />

                                                            </div>
                                                        </div>

                                                    </div>

                                                    <!--new_post_6655-->
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="posts_list">

                                        <!--posts_list-->
                                    </div>

                                    <!--content_discussion-->
                                </div>
                            </div>
                            <!-- Inline script moved to the bottom of the page -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>