<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" style="background:url(../../../assests/images/login1.jpg) no-repeat 0px 0px">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">&nbsp;PROFILE</h4>
      </div>
      <div class="modal-body">
        <form class="form" >
          <div class="form-group">
            <label>Tên</label>
            <input type="text" class="form-control" name="name" ng-model="Modal.editForm.name"  ng-change ="Modal.checkuser()"required>
          </div>
          <div class="form-group">
            <label>SĐT</label>
            <input type="text" class="form-control" name="phone" ng-model="Modal.editForm.phone"  ng-change ="Modal.checkuser()"required>
          </div>
          <div class="form-group">
            <label>Địa chỉ : </label>
            <textarea class="form-control" rows="4" ng-model="Modal.editForm.address"  ng-change ="Modal.checkuser()"required"></textarea>
          </div>
          <div class="form-group">
            <label>Mật khẩu</label> (để trống nếu không thay đổi)
            <input type="password" class="form-control" name="password" ng-model="Modal.editForm.password" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div ng-show="Modal.message" class="alert alert-danger"style="float:left">{{Modal.message}}</div>
        <button type="button" ng-click="Modal.editUser()" ng-disabled = "" class="btn btn-primary" >Update</button>
      </div>
    </div>
  </div>
</div>
