<div class="row">
    <div class="col-sm-2">
        <button class="btn btn-success" ng-click="$ctrl.onExportExcel()">Export Excel</button>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-info" ng-click="$ctrl.onExportDoc()">Export Word</button>
    </div>
</div>
<div>
    <div class="panel-group">
        <table id="productUserCtrl" class="table table-bordered table-striped" export-table>
            <colgroup>
                <col width="5%" />
                <col width="10%" />
                <col width="15%" />
                <col width="20%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
            </colgroup>

            <thead>
                <tr>
                    <th>Number</th>
                    <th>Product Name</th>
                    <th>Picture</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody ng-repeat="user in $ctrl.productUsers">
                <tr class="bg-success text-center">
                    <td colspan="7">Name: <strong style="color: slateblue;"> {{user.name}}</strong> Email:<strong style="color: slateblue;"> {{user.username}} </strong>, --- Phone number: <strong style="color: slateblue;"> {{user.phone}}</strong> --- Address:<strong style="color: slateblue;"> {{user.address}}</strong> --- Create Date: <strong style="color: slateblue;"> {{user.create_date | date:'dd/MM/yyyy'}} </strong></td>
                    <td> <a href="" ng-click="$ctrl.onEdit(user)">
                        <span class="fa fa-trash"> <span>Edit</span></span></a>
                    </td>
                    <td> <a href="" ng-click="$ctrl.deleteproductUsers(user)">
                    <span class="fa fa-trash"> <span>Delete</span></span></a>
                    </td>
                </tr>
                <tr ng-repeat="product in user.product">
                    <td>{{$index +1}}</td>
                    <td>{{product.name}}</td>
                    <td><img width="120px" src="{{product.img}}" alt=""></td>
                    <td>
                        <p>{{product.content}}</p>
                    </td>
                    <td>{{product.price}}000đ</td>
                    <td>{{product.qty}}</td>
                    <td>{{product.sum}}000đ</td>
                    <td>{{user.statusP}}</td>
                    <td></td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <th>Number</th>
                    <th>Product Name</th>
                    <th>Picture</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
