<div class="team">
    <div class="container">
        <h3>Amazing Team</h3>
        <div class="agileits_team_grids">
            <div class="col-md-3 agileits_team_grid" ng-repeat = "data in $ctrl.dataAbout">
                <img src="uploads/avatars/avata2.png" alt=" " class="img-responsive" />
                <h4>{{data.name}}</h4>
                <p>{{data.task}}</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="facebook.com" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
