<div class="tygh-content clearfix">
  <div class="container content-grid">


<div class="row">                <div class="span16 breadcrumbs-grid" >
                              <div id="breadcrumbs_10">
<div class="breadcrumbs clearfix">
  <span ><a  href="https://www.duchuymobile.com"><bdi>Trang chủ</bdi></a></span><i class="breadcrumbs__slash">-</i><span ><a  href="https://www.duchuymobile.com/dien-thoai"><bdi> Điện thoại</bdi></a></span><i class="breadcrumbs__slash">-</i><span ><a  href="https://www.duchuymobile.com/samsung-galaxy"><bdi>Điện thoại Samsung</bdi></a></span>    </div>

<!--breadcrumbs_10--></div><div class="view_product_title">
  <h1 class="mainbox-title" style=" padding-bottom: 0; " > {{data.name}} <span style=" font-size: 18px; font-weight: normal; ">Nguyên Seal </span></br></h1>        
<div class="rating-wrapper clearfix" id="average_rating_product" style=" display: block; ">
      

<p class="nowrap stars">

      <i class="icon-star"></i>
      <i class="icon-star"></i>
      <i class="icon-star"></i>
      <i class="icon-star"></i>

      <i class="icon-star-half"></i>

  
</p>


                                  





          <a class="cm-external-click" data-ca-scroll="content_discussion" data-ca-external-click-id="discussion">7 đánh giá</a>
      <!--average_rating_product--></div>

  <div class="fb-like" data-href="https://www.duchuymobile.com/samsung-galaxy-s20-plus" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
</div>
              </div>
</div>

<div class="row">                <div class="span12 view-detail-product" >
                              <!-- Inline script moved to the bottom of the page -->
<div class="product-main-info">
<div class="clearfix">

































<div itemscope itemtype="http://schema.org/Product">
<meta itemprop="sku" content="code_product_3160122" />
<meta itemprop="name" content="Samsung Galaxy S20 Plus (8GB | 128GB) Công Ty Mới 100%" />
<meta itemprop="mpn" content="3115" />    
<meta itemprop="brand" content="Samsung" />
<meta itemprop="image" content="https://www.duchuymobile.com/images/detailed/30/xanh_i3nu-1o.jpg" />
<meta itemprop="description" content="   Samsung Galaxy S20 Plus Chính Hãng: Mạnh mẽ từ thiết kế đến cấu hình bên trong   

Samsung Galaxy S20 Plus  chính hãng &amp;nbsp;là flagship dòng S của nhà Samsung với thiết kế hiện đại,&amp;nbsp;cấu hình mạnh mẽ, ổn định đang được lòng rất nhiều khách hàng khi vừa mở bán. &amp;nbsp; 



Samsung Galaxy S20 Plus công ty sẵn hàng nhiều tại Đức Huy Mobile.  

Thiết kế tinh tế, cuốn hút mọi góc nhìn  

Samsung Galaxy S20 Plus chính hãng &amp;nbsp;được thiết kế theo kiểu dáng truyền thống với phần khung viền bằng nhôm kết hợp với hai lớp kính cường lực bóng loáng ở mặt trước và sau. Máy có kích thước 161.9 x 73.7 x 7.8 mm và nặng 186g rất vừa tay khi cầm nắm sử dụng. 



S20 Plus đang có sẵn 3 bản màu.&amp;nbsp;  

Không chỉ có lợi thế về hình dáng, Galaxy S20 Plus còn sở hữu nhiều màu sắc khi ra mắt để người dùng dễ dàng lựa chọn bao gồm: Cosmic Black, Cosmic Grey, Cloud Blue, Cloud White, Aura Red.&amp;nbsp; 



Samsung Galaxy S20 sở hữu thiết kế ấn tượng&amp;nbsp;  

Màn hình đục lỗ cho hiển thị sắc nét  

Màn hình của  Galaxy S20 Plus mới  có thiết kế Infinity-O, tràn viền chứa một camera selfie. Với kích thước 6.7 inches, được cung cấp tấm nền Dynamic AMOLED cho độ phân giải 1440 x 3200 pixels, các hiển thị trên chiếc smartphone này hoàn toàn rõ nét, sống động và chân thực vô cùng.&amp;nbsp; 

Thêm đó, với tần số quét cao lên đến 120Hz, HDR10+ đã góp phần giúp cho màn hình của Galaxy S20 Plus hoàn hảo, mượt mà.&amp;nbsp; 



Màn hình chất lượng cao  

Camera có cảm biến chính 108MP  

Không chỉ được nâng cấp về màn hình, camera trên  Samsung Galaxy S20 Plus chính hãng  cũng được liệt vào loại khủng khi sở hữu sự nâng cấp vượt bậc so với các phiên bản tiền nhiệm. 



Mặt lưng nổi bật với cụm camera lớn.&amp;nbsp;  

Cụ thể, cụm camera có 4 ống kính, trong đó cảm biến chính có độ phân giải 64MP, các cảm biến còn lại có độ phân giải là ống kính tele 12MP, ống kính góc siêu rộng 12MP hay cảm biến ToF 0.3MP.&amp;nbsp; 



Galaxy S20 Plus được trang bị cụm 3 camera&amp;nbsp;  

Ngoài ra, camera selfie có độ phân giải 10MP, khẩu độ f/2.2 mang đến những bức ảnh sắc nét, rực rỡ.&amp;nbsp; 

Cấu hình mạnh mẽ nhờ chip&amp;nbsp;Exynos 990  

Galaxy S20 Plus công ty  được trang bị con chip mạnh mẽ Exynos 990, được phát triển trên tiến trình 7 nm+.&amp;nbsp; 



Kết hợp tai nghe&amp;nbsp;Bluetooth Galaxy Buds Plus và S20 Plus để có bộ đôi hoàn hảo.&amp;nbsp;  

Đi kèm với máy là bộ dung lượng “không phải dạng vừa” với RAM 8GB và bộ nhớ trong 128GB. Nhờ sở hữu hiệu năng “ngon lành” nên chiếc flagship đã mang đến những trải nghiệm đỉnh cao, nhanh đến không ngờ.&amp;nbsp; 



Hiệu năng mạnh mẽ nhờ chip Exynos 990  

Với  Galaxy S20 Plus chính hãng , thiết bị được cung cấp năng lượng từ viên pin 4500mAh. Hơn thế, máy còn đi kèm với công nghệ sạc nhanh 25W.&amp;nbsp; 
" />

<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                  <link itemprop="availability" href="http://schema.org/InStock" />
                      <meta itemprop="priceCurrency" content="VND"/>
      <meta itemprop="url" content="https://www.duchuymobile.com/samsung-galaxy-s20-plus"/>
      <meta itemprop="priceValidUntil" content="12-02-2020"/>
      <meta itemprop="price" content="16390000"/>
      </div>
      
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
  <meta itemprop="ratingValue" content="4.5"/>
          <meta itemprop="reviewCount" content="7"/>
       </div>

                  <div itemprop="review" itemscope itemtype="http://schema.org/Review">
          <meta itemprop="name" content="Trung nguyên  - Samsung Galaxy S20 Plus (8GB | 128GB) Công Ty Mới 100%"/>
          <meta itemprop="author" content="Trung nguyên "/>
          <meta itemprop="datePublished" content="2020-15-04">
          <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <meta itemprop="worstRating" content = "1">
             <meta itemprop="ratingValue" content="5">
             <meta itemprop="bestRating" content="5">
          </div>
          <meta itemprop="description" content="Con này còn hàng hả shop ">
        </div>
              <div itemprop="review" itemscope itemtype="http://schema.org/Review">
          <meta itemprop="name" content="Dân - Samsung Galaxy S20 Plus (8GB | 128GB) Công Ty Mới 100%"/>
          <meta itemprop="author" content="Dân"/>
          <meta itemprop="datePublished" content="2020-07-04">
          <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <meta itemprop="worstRating" content = "1">
             <meta itemprop="ratingValue" content="5">
             <meta itemprop="bestRating" content="5">
          </div>
          <meta itemprop="description" content="Có hổ trợ vẹt thẻ+ tiền mặt không?">
        </div>
              <div itemprop="review" itemscope itemtype="http://schema.org/Review">
          <meta itemprop="name" content="Vụ văn trường - Samsung Galaxy S20 Plus (8GB | 128GB) Công Ty Mới 100%"/>
          <meta itemprop="author" content="Vụ văn trường"/>
          <meta itemprop="datePublished" content="2020-27-03">
          <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <meta itemprop="worstRating" content = "1">
             <meta itemprop="ratingValue" content="5">
             <meta itemprop="bestRating" content="5">
          </div>
          <meta itemprop="description" content="S20+ còn hàng không">
        </div>
              <div itemprop="review" itemscope itemtype="http://schema.org/Review">
          <meta itemprop="name" content="Trang  - Samsung Galaxy S20 Plus (8GB | 128GB) Công Ty Mới 100%"/>
          <meta itemprop="author" content="Trang "/>
          <meta itemprop="datePublished" content="2020-18-03">
          <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <meta itemprop="worstRating" content = "1">
             <meta itemprop="ratingValue" content="5">
             <meta itemprop="bestRating" content="5">
          </div>
          <meta itemprop="description" content="Hàng công ty là như nào mà rẻ vậy ad">
        </div>
              <div itemprop="review" itemscope itemtype="http://schema.org/Review">
          <meta itemprop="name" content="Minh Anh - Samsung Galaxy S20 Plus (8GB | 128GB) Công Ty Mới 100%"/>
          <meta itemprop="author" content="Minh Anh"/>
          <meta itemprop="datePublished" content="2020-10-03">
          <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <meta itemprop="worstRating" content = "1">
             <meta itemprop="ratingValue" content="5">
             <meta itemprop="bestRating" content="5">
          </div>
          <meta itemprop="description" content="Hôm nay mình đến lấy s20 plus tại shop máy có màn hình tràn viền cực đã lướt màn hình rất nhanh với cụm camera chụp nét cầm vừa tay rất thích, giá thì Đức Huy Mobile luôn mềm so với thị trường">
        </div>
          



</div>
<div id="thong_tin_san_pham">
<div class="row">
<div class="product-block__img-wrapper">
      <div class="image-wrap product_view_image">

            <div class="image-border center cm-reload-3115" id="product_images_3115_update">
                                                             

  
<div class="border-image-wrap cm-preview-wrapper">
<a id="det_img_link_31155ea07e0eb0878_30717" data-ca-image-id="preview[product_images_31155ea07e0eb0878]" class="cm-image-previewer cm-previewer previewer" data-ca-image-width="" data-ca-image-height=""  href="https://www.duchuymobile.com/images/variant_image/30/xam_5ber-ra.jpg" title=""><img class="   pict"  id="det_img_31155ea07e0eb0878_30717"  src="{{data.img}}" width="480" height="480" alt="xam_5ber-ra" title="xam_5ber-ra"  /></a>                                     
</div>
   
<!-- Inline script moved to the bottom of the page -->

<!-- Inline script moved to the bottom of the page -->



                                                  <!--product_images_3115_update--></div>
        

</div>
<!--product-block__img-wrapper-->
</div>
<div class="span6 product_view_main ">
        <div class="product-main-info">
  

                                                           
  

  <div class="main_info_content clearfix">
    <div class="main_info_left">
                  <div class="prices-container price-wrap clearfix product-detail-price">
                      <div class="float-left product-prices">
      <div class="actual-price">
              <span class="cm-reload-3115 price-update" id="price_update_3115">

                          
                              <span class="price" id="line_discounted_price_3115"><span id="sec_discounted_price_3115" class="price-num">{{data.price}}000</span>&nbsp;<span class="price-num" style=" text-decoration: underline; ">đ</span></span>
                      

                  <!--price_update_3115--></span>

                                                          <span class="lab_tragop_o">Trả góp 0%</span>
                                      </div>
                  
                              <span class="cm-reload-3115" id="old_price_update_3115">
      
      
                  

  <!--old_price_update_3115--></span>
                                                                                                            <span class="cm-reload-3115" id="line_discount_update_3115">
    
              <!--line_discount_update_3115--></span>

                                </div>
        
      </div>          
                                                                                                                                              
                  <div class="options-wrapper"><!--333-->
                              <div class="cm-reload-3115" id="product_options_update_3115">



<div class="cm-picker-product-options" id="opt_3115">
  
  <div class="control-group product-list-field clearfix   " id="opt_3115_2812">
                  <label for="option_3115_2812" class="option_title  " >

</div>
  
              <div class="product-note">
          <ul>
<li style="text-align: justify;">{{data.content}}</li>

</ul>

        </div>
      

      
  
  <div class="control-group product-list-field clearfix  lab-option-color " id="opt_3115_2811">
                  <label for="option_3115_2811" class="option_title  " >
</div>
      
</div>

<!-- Inline script moved to the bottom of the page -->
<style>
span.option_price-num {
display: block;
color: #d0021b;
margin-top: 3px;
}
span.option_price-num * {
color: #d0021b;
}
</style>
  

<!--product_options_update_3115--></div>

      </div>
                  
                              
                               <div class="advanced-options-wrapper">
                  <!-- 5555-->
                                                <div class="cm-reload-3115" id="advanced_options_update_3115">
      
      
      

  <!--advanced_options_update_3115--></div>

                    </div>
      <div class="detail_product-block__button clearfix">
                      <div class="product-fields-wrapper hidden">
          <div class="product-fields-group">
                                  
  <div class="cm-reload-3115" id="qty_update_3115">
  <input type="hidden" name="appearance[show_qty]" value="1" />
  <input type="hidden" name="appearance[capture_options_vs_qty]" value="" />
                                          <div class="qty clearfix changer" id="qty_3115">
          <label for="qty_count_3115">Số lượng:</label>                                                <div class="center valign value-changer cm-value-changer">
              <a class="cm-increase increase">&#43;</a>
                                  <input  type="text" size="5" class="input-text-short cm-amount" id="qty_count_3115" name="product_data[3115][amount]" value="1" data-ca-min-qty="1" />
                                  <a class="cm-decrease decrease">&minus;</a>
          </div>
                                      </div>
                      <!--qty_update_3115--></div>




                                  
          </div>
        </div>
                                      <div class="buttons-container">

            
                              <div class="cm-reload-3115 " id="add_to_cart_update_3115">

<div class="buttons-container" id="cart_add_block_3115">	<button id="button_cart_button_cart_3115" class="btn-add-to-cart" ng-click="addShop(data._id)" name="dispatch[checkout.add..3115]">ADD TO CART</button>
</div>

<!--add_to_cart_update_3115--></div>


                              

          </div>
                    </div>
                <!--main_info_left-->
    </div>					
    <!--main_info_content-->
  </div>