<div class="tygh-content clearfix top-brands">
  <div class="container content-grid">
    <div class="row">
      <div class="span16 home-header-banner" >
        <div class="sidebox-wrapper-nhansam" >
          <h3 class="sidebox-title_nhansam">
              <span id="dot"><span class="ping"></span></span><span>Điện thoại mới</span> 
              
          </h3>
          <div class="viewallcat">
              <ul>
              </ul>
          </div>
          <div class="sidebox-body_nhansam">
              <div class="grid_product_list_column clearfix">
                <div class="product_list_column5" ng-repeat="data in data">
                    <div class="grid-list__item ">
                      <div class="grid-list__image">
                          <label class="label_installment">Trả góp 0%</label>
                          <a href="" title="{{data.name}}"><img class="ty-pict   load_scroll  cm-image"  data-src="{{data.img}}" alt="trang-cu" title="trang-cu" src="/assests/images/empty.jpg" width="200px" height="200px"  style="max-width: 200px; max-height: 200px;"/>
                          </a>
                      </div>
                      <div class="grid-list__rating no-rating">
                      </div>
                      <div class="grid-list__item-name">
                          <a ui-sref="home.product({id: data._id})" class="product-title" >{{data.name}}</a>    
                      </div>
                      <div class="grid-list__price">
                          <span class="cm-reload-720002336 price-update" id="price_update_720002336">
                            <input type="hidden" name="appearance[show_price_values]" value="1" />
                            <input type="hidden" name="appearance[show_price]" value="1" />
                            <span class="price" id="line_discounted_price_720002336"><span id="sec_discounted_price_720002336" class="price-num">{{data.price}}000</span>&nbsp;<span class="price-num" style=" text-decoration: underline; ">đ</span></span>
                            <!--price_update_720002336-->
                          </span>
                          <span class="cm-reload-720002336" id="old_price_update_720002336">
                            <!--old_price_update_720002336-->
                          </span>
                          <div class="snipcart-details">
                          <input ng-if="data.qty > 0" type="button" class="btn btn-success" value="ADD TO CART" ng-click="addShop(data._id)" class="button" />
                          <input ng-if="data.qty <= 0" type="button" class="btn btn-danger" value="HẾT HÀNG"  class="button" />
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="span16 home-header-banner" >
        <div class="sidebox-wrapper-nhansam" >
          <h3 class="sidebox-title_nhansam">
              <span>Điện thoại bán chạy</span>
          </h3>
          <div class="viewallcat">
              <ul>
              </ul>
          </div>
          <div class="sidebox-body_nhansam">
              <div class="grid_product_list_column clearfix">
                <div class="product_list_column5" ng-repeat="data in topData">
                    <div class="grid-list__item ">
                      <div class="grid-list__image">
                          <label class="label_installment">Trả góp 0%</label>
                          <a href="" title="{{data.name}}"><img class="ty-pict   load_scroll  cm-image"  data-src="{{data.img}}" alt="trang-cu" title="trang-cu" src="/assests/images/empty.jpg" width="200px" height="200px" style="max-width: 200px; max-height: 200px;"/>
                          </a>
                      </div>
                      <div class="grid-list__rating no-rating">
                      </div>
                      <div class="grid-list__item-name">
                          <a ui-sref="home.product({id: data._id})" class="product-title" >{{data.name}} (Đã bán: {{data.qty_bought}})</a>    
                      </div>
                      <div class="grid-list__price">
                          <span class="cm-reload-720002336 price-update" id="price_update_720002336">
                            <input type="hidden" name="appearance[show_price_values]" value="1" />
                            <input type="hidden" name="appearance[show_price]" value="1" />
                            <span class="price" id="line_discounted_price_720002336"><span id="sec_discounted_price_720002336" class="price-num">{{data.price}}000</span>&nbsp;<span class="price-num" style=" text-decoration: underline; ">đ</span></span>
                            <!--price_update_720002336-->
                          </span>
                          <span class="cm-reload-720002336" id="old_price_update_720002336">
                            <!--old_price_update_720002336-->
                          </span>
                          <div class="snipcart-details">
                          <input ng-if="data.qty > 0" type="button" class="btn btn-success" value="ADD TO CART" ng-click="addShop(data._id)" class="button" />
                          <input ng-if="data.qty <= 0" type="button" class="btn btn-danger" value="HẾT HÀNG"  class="button" />
                        </div>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .te {text-align: center; font-size: 20px;  color: #FFF; height: 30px; background-color: gray; box-shadow: 0px 4px 9px gray ;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;}
  #CounterVisitor {  color: #FFF; margin-left: 43px; margin-top: 28px;
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;font-size: 80px; text-shadow: 0px 2px black;}
  .sltc { width: 200px; height: 200px; position: fixed; right: 3px; top: 68px;background-image: url("https://www.octopusdm.vn/wp-content/uploads/2017/12/mau-gach-lat-nen-60x60-2-862x478.jpg");}
  #dot {
    width: 10px;
    height: 10px;
    background-color: #f33;
    border-radius: 100%;
    left: 0;
    top: 50%;
    margin-top: -5px;
    display: block;
    position: relative;
    top: 14px;
    left: 157px;
}

#dot .ping {
    border: 1px solid #f33;
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: rgba(238,46,36,.2);
    border-radius: 100%;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-name: sonar;
    animation-name: sonar;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    display: block;
    margin: -1px 0 0 -1px;
}
  @keyframes sonar {
    0% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    100% {
        -webkit-transform: scale(3);
        transform: scale(3);
        opacity: 0;
    }
      
  }
</style>